h1 {
  color: #ff0000;
}

p {
  background-color: yellow;
  margin-left: 32px;
  margin-right: 50px;
  background-color: #ff0000;
}

.btn {
  align-items: center;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:active, .btn:hover {
  outline: 0;
}
.btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.btn:hover span {
  background: none;
}
.btn:active {
  transform: scale(0.9);
}

.btn1 {
  align-items: center;
  background: #ff0000;
  border: 0;
  border-radius: 30px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.btn1:active, .btn1:hover {
  outline: 0;
}
.btn1 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.btn1:hover span {
  background: none;
}
.btn1:active {
  transform: scale(0.9);
}

.img1 {
  background: url("1.jpg");
}

.img2 {
  background: url("2.jpg");
}

.img3 {
  background: url("3.jpg");
}

.img4 {
  background: url("4.jpg");
}

.img5 {
  background: url("5.jpg");
}

.img6 {
  background: url("6.jpg");
}

.img7 {
  background: url("7.jpg");
}

.img8 {
  background: url("8.jpg");
}

.img9 {
  background: url("9.jpg");
}

.img10 {
  background: url("10.jpg");
}

.img11 {
  background: url("11.jpg");
}

.img12 {
  background: url("12.jpg");
}

.img13 {
  background: url("13.jpg");
}

.img14 {
  background: url("14.jpg");
}

.img15 {
  background: url("15.jpg");
}

.img16 {
  background: url("16.jpg");
}

.img17 {
  background: url("17.jpg");
}

.img18 {
  background: url("18.jpg");
}

.img19 {
  background: url("19.jpg");
}

.img20 {
  background: url("20.jpg");
}

.img21 {
  background: url("21.jpg");
}

.img22 {
  background: url("22.jpg");
}

.img23 {
  background: url("23.jpg");
}

.img24 {
  background: url("24.jpg");
}

.img25 {
  background: url("25.jpg");
}

.img26 {
  background: url("26.jpg");
}

.img27 {
  background: url("27.jpg");
}

.img28 {
  background: url("28.jpg");
}

.img29 {
  background: url("29.jpg");
}

.img30 {
  background: url("30.jpg");
}

.img31 {
  background: url("31.jpg");
}

.img32 {
  background: url("32.jpg");
}

.img33 {
  background: url("33.jpg");
}

.img34 {
  background: url("34.jpg");
}

.img35 {
  background: url("35.jpg");
}

.img36 {
  background: url("36.jpg");
}

.img37 {
  background: url("37.jpg");
}

.img38 {
  background: url("38.jpg");
}

.img39 {
  background: url("39.jpg");
}

.img40 {
  background: url("40.jpg");
}

.img41 {
  background: url("41.jpg");
}

.img42 {
  background: url("42.jpg");
}

.img43 {
  background: url("43.jpg");
}

.img44 {
  background: url("44.jpg");
}

.img45 {
  background: url("45.jpg");
}

.img46 {
  background: url("46.jpg");
}

.img47 {
  background: url("47.jpg");
}

.img48 {
  background: url("48.jpg");
}

.img49 {
  background: url("49.jpg");
}

.img50 {
  background: url("50.jpg");
}

.img51 {
  background: url("51.jpg");
}

.img52 {
  background: url("52.jpg");
}

.img53 {
  background: url("53.jpg");
}

.img54 {
  background: url("54.jpg");
}

.img55 {
  background: url("55.jpg");
}

.img56 {
  background: url("56.jpg");
}

.img57 {
  background: url("57.jpg");
}

.img58 {
  background: url("58.jpg");
}

.img59 {
  background: url("59.jpg");
}

.img60 {
  background: url("60.jpg");
}

.img61 {
  background: url("61.jpg");
}

.img62 {
  background: url("62.jpg");
}

.img63 {
  background: url("63.jpg");
}

.img64 {
  background: url("64.jpg");
}

.img65 {
  background: url("65.jpg");
}

.img66 {
  background: url("66.jpg");
}

.img67 {
  background: url("67.jpg");
}

.img68 {
  background: url("68.jpg");
}

.img69 {
  background: url("69.jpg");
}

.img70 {
  background: url("70.jpg");
}

.img71 {
  background: url("71.jpg");
}

.img72 {
  background: url("72.jpg");
}

.img73 {
  background: url("73.jpg");
}

.img74 {
  background: url("74.jpg");
}

.img75 {
  background: url("75.jpg");
}

.img76 {
  background: url("76.jpg");
}

.img77 {
  background: url("77.jpg");
}

.img78 {
  background: url("78.jpg");
}

.img79 {
  background: url("79.jpg");
}

.img80 {
  background: url("80.jpg");
}

.img81 {
  background: url("81.jpg");
}

.img82 {
  background: url("82.jpg");
}

.img83 {
  background: url("83.jpg");
}

.img84 {
  background: url("84.jpg");
}

.img85 {
  background: url("85.jpg");
}

.img86 {
  background: url("86.jpg");
}

.img87 {
  background: url("87.jpg");
}

.img88 {
  background: url("88.jpg");
}

.img89 {
  background: url("89.jpg");
}

.img90 {
  background: url("90.jpg");
}

.img91 {
  background: url("91.jpg");
}

.img92 {
  background: url("92.jpg");
}

.img93 {
  background: url("93.jpg");
}

.img94 {
  background: url("94.jpg");
}

.img95 {
  background: url("95.jpg");
}

.img96 {
  background: url("96.jpg");
}

.img97 {
  background: url("97.jpg");
}

.img98 {
  background: url("98.jpg");
}

.img99 {
  background: url("99.jpg");
}

.img100 {
  background: url("100.jpg");
}/*# sourceMappingURL=style.css.map */