* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 4;
    font-family: sans-serif;
}

.container {
    background-color: #0F0F11;
    width: 1600px;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    padding-top: 52px;
}

.bg {
    width: 2595px;
    height: 2595px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1
}

/* --------------------NAVBAR------------------------------------------------------ */
.navbar {
    width: 1499.9697265625px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;


    .list ul {
        display: flex;
        width: 706px;
        height: 18px;


        li {
            list-style: none;
            margin-right: 49px;
            font-size: 12px;
            margin-top: 8px;
            text-decoration: none;

            a:hover {
                color: #FBD13E;
            }


        }

    }

    .additional {
        a {
            width: 15px;
            height: 24px;
            margin-right: 40px;
            cursor: pointer;
        }
    }
}

/* ---------------------------MAIN----------------------------------------------------- */
.main {
    display: flex;
}

.first {
    padding-left: 50px;
    padding-top: 96px;
    position: relative;
}

.img1 {
    width: 184px;
    height: 184px;
    position: absolute;
    margin-left: -50px;
    margin-bottom: 37px;


}

.text {
    width: 312px;
    height: 98px;
    margin-bottom: 26px;

    p {
        font-size: 25px;
        font-weight: 500;

    }

}

.contact {
    margin-top: 250px;
    font-family: sans-serif;
    margin-bottom: 284px;

    :hover {
        color: #FBD13E;
    }
}

.tel {
    width: 226px;
    height: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 7px;

    a {
        text-decoration: none;
    }
}

.mail {
    width: 186px;
    height: 26px;
    font-size: 18px;
    font-weight: 500;

    a {
        text-decoration: none;
    }
}

.single {
    width: 264px;
    height: 365px;

    img {
        margin-left: -25px;
    }
}

.single:hover {
    transition: 0.5s all ease;
    scale: 1.1;
}

.tiramisu {
    h4 {
        width: 104px;
        height: 24px;
        font-size: 20px;
        font-weight: 500;
    }

    p {
        width: 37px;
        height: 15px;
        background-color: gray;
        color: white;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }

    margin-bottom: 16px;
}

.price {
    display: flex;

    :hover {
        transition: 0.5s all ease;
        scale: 1.1;
    }

    h1 {
        margin-right: 36px;
    }

    button {
        width: 42px;
        height: 42px;
        position: relative;

        img {
            position: absolute;
            top: -22px;
            left: -8px;
        }
    }
}

.second {
    background-image: url(../img/main/_02D2094\ 1.png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 838px;
    margin-top: 44px;
    margin-left: 65px;
    position: relative;
}

.reed {
    background-image: url(../img/main/Group\ 3.png);
    position: absolute;
    width: 355.24456787109375px;
    height: 357.9332580566406px;
    bottom: 20px;
    left: 70px;
    padding: 37px 68.24px 62.93px 56px;
}

.hh {
    width: 220px;
    height: 60px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.gramm {
    padding: 2px 3px;
    width: 37px;
    height: 15px;
    background-color: rgb(219, 126, 126);
    color: white;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 7px;
}

.pp {
    font-size: 15px;
    opacity: 80%;
    line-height: 21px;
    margin-bottom: 21px;
}

.price2 {
    display: flex;

    h1 {
        margin-right: 36px;
    }

    button {
        width: 42px;
        height: 42px;
        position: relative;

        :hover {
            transition: 0.5s all ease;
            scale: 1.1;
        }

        img {
            position: absolute;
            top: -23px;
            left: -33px;
        }
    }
}

.union {
    position: absolute;
    right: -750px;
    bottom: -100px;
}

/* -----------------------CARDS----------------------------------------------------- */

.main2 {
    width: 1500px;
    margin: 0 auto;

    .header {
        margin-top: -50px;
        margin-left: 500px;
        width: 643px;
        height: 194px;
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 37px;

    }

}

.cardMenu {

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 144px;
}

.card {
    margin-right: 15px;
    margin-bottom: 38px;
    width: 233px;
    height: 444px;

    :hover {
        transition: 0.5s all ease-in-out;
        scale: 1.05;
    }
}


.foodName {
    h4 {
        width: 233px;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .massa {
        width: 47px;
        height: 20px;
        background-color: gray;
        color: white;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        padding: 2px;
        margin-bottom: 5px;
    }

}

.aaa {
    p {
        width: 233px;
        height: 58px;
        font-size: 13px;
        line-height: 18px;
        opacity: 0.8;
    }

    margin-bottom: 14px;
}

.cPrice {
    display: flex;

    h1 {
        margin-right: 36px;
    }

    button {
        width: 42px;
        height: 42px;
        position: relative;

        img {
            position: absolute;
            top: -23px;
            left: -33px;
        }
    }
}

.ccPrice {
    display: flex;

    h1 {
        margin-right: 36px;
    }

    button {
        width: 128px;
        height: 42px;
        position: relative;
        border: 1px solid #FBD13E;
        background-color: black;


        a {
            color: #FBD13E;
            text-decoration: none;

        }
    }
}

/* ------------------------MENU----------------------------------------------------- */
.menu {
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 169px;

    .head {
        width: 643px;
        height: 90px;
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 64px;
        display: flex;
        margin-top: -50px;
        margin-left: 500px;

    }
}

.menuList {
    display: flex;
}

.redCard {
    margin-right: 20px;
    background-color: #B70000;
    width: 233px;
    height: 314px;
    text-align: center;
    position: relative;

    .percent {
        position: absolute;
        top: 23px;
        left: 40px;
    }

    p {
        width: 124px;
        height: 24px;
        font-size: 20px;
        position: absolute;
        top: 145px;
        bottom: 145px;
        left: 65px;

        a {
            text-decoration: none;
        }

    }

    .percent2 {
        position: absolute;
        bottom: 29px;
        right: 36px;
    }
}

.menuCards {
    background-color: black;
    width: 233px;
    height: 314px;
    text-align: center;
    position: relative;
    margin-right: 20px;

    .plate1 {
        position: absolute;
        top: 0px;
        left: 36px;
    }

    p {
        width: 124px;
        height: 24px;
        font-size: 20px;
        position: absolute;
        top: 130px;
        bottom: 145px;
        left: 55px;

        a {
            text-decoration: none;
        }

    }

    .plate2 {
        position: absolute;
        bottom: 0px;
        right: 35px;
    }
}


.newCards {
    background-color: black;
    width: 233px;
    height: 314px;
    text-align: center;
    position: relative;
    margin-right: 20px;

    .plate1 {
        position: absolute;
        top: 0px;
        left: 18px;
    }

    p {
        width: 124px;
        height: 24px;
        font-size: 20px;
        position: absolute;
        top: 130px;
        bottom: 145px;
        left: 55px;

        a {
            text-decoration: none;
        }

    }

    .plate2 {
        position: absolute;
        bottom: 0px;
        right: 17px;
    }
}

.redCard:hover {
    scale: 1.1;
    transition: 0.5s all ease;
}

.menuCards:hover {
    scale: 1.1;
    transition: 0.5s all ease;
}

.newCards:hover {
    scale: 1.1;
    transition: 0.5s all ease;
}

/* ---------------------------FOOTER------------------------------ */
.footer {
    width: 1600px;
    height: 190px;
    background-color: black;
    :hover{
        color: #FBD13E;
    }
}

.connection {
    padding: 5px;
    display: flex;

    .logo {
        width: 135px;
        height: 24px;
        margin-right: 118px;
        margin-top: 50px;
        margin-left: 50px;
    }

    ul {
        display: flex;
        margin-top: 62px;

        li {
            list-style-type: none;
            margin-right: 50px;
            height: 15px;
            font-size: 12px;
        }
    }

}

.call {
    display: flex;
    margin-top: 55px;
    margin-left: 350px;

    p {
        height: 20px;
        font-size: 20px;
        margin-right: 29px;

        a {
            text-decoration: none;
        }

    }
}

hr {
    width: 1500px;
    height: 1px;
    color: gray;
    margin-top: 35px;
    margin-left: 50px;
}

.info {
    height: 76px;

    .year {
        margin-left: 50px;
        margin-top: 28px;
        height: 15px;
        font-size: 12px;
    }

    .agreement {
        display: flex;
        float: right;
        margin-top: -13px;

        p {
            margin-right: 45px;
            height: 15px;
            font-size: 12px;
        }
    }
}